# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.eml
*.iml

# Vim .swp files
*.swp

# Gradle temporary/cached files
/.gradle

# Gradle build directory
/build

# Instance temp directories (when running from uberjar)
/instance-*

# Daemon log directory (when running from uberjar)
/logs

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Master_Gardener_Source/bin
Master_Gardener_Source/.DS_Store
Master_Gardener_Source/test.db
Master_Gardener_Source/_classpath
Master_Gardener_Source/_project
Master_Gardener_Source/_DS_Store
Derby/.classpath
Derby/bin
Derby/.project
Derby/_classpath
Jetty/.classpath
Jetty/.project
Jetty/bin
Jetty/_project
.metadata
.idea
Derby/.classpath
.recommenders
Master_Gardener_Source/war/images/pages/home/beautiful-bloom-blooming-414160.jpg
Master_Gardener_Source/war/css/additional-style.css
Master_Gardener_Source/war/images/pages/home/animal-bee-bloom-460961.jpg
Master_Gardener_Source/war/images/pages/home/dewdrops-flora-flower-56866.jpg
Master_Gardener_Source/war/vendor/bootstrap/css/bootstrap.css
Master_Gardener_Source/war/vendor/bootstrap/js/bootstrap.bundle.js
Master_Gardener_Source/war/vendor/jquery-easing/jquery.easing.js
Master_Gardener_Source/war/vendor/jquery/jquery.js
Master_Gardener_Source/war/vendor/scrollreveal/scrollreveal.js
